<a href="https://colab.research.google.com/github/Della-wiyanti/Study-Case02-Kelompok05/blob/main/Study_Case_02_Kelompok_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

try:
  mengajar = pd.read_csv('/content/mengajar.csv', encoding='utf8')
  dosen = pd.read_csv('/content/tb_dosen.csv', encoding='utf8')
  kelas = pd.read_csv('/content/tb_kelas.csv', encoding='utf8')
  krs = pd.read_csv('/content/tb_krs.csv', encoding='utf8')
  mahasiswa = pd.read_csv('/content/tb_mahasiswa.csv', encoding='utf8')
  matkul = pd.read_csv('/content/tb_mata_kuliah.csv', encoding='utf8')
  nilai = pd.read_csv('/content/tb_nilai.csv', encoding='utf8')
except:
  !mkdir /content
  !wget -P /content/https://raw.githubusercontent.com/Della-wiyanti/Study-Case02-Kelompok05/main/Case%20Study%2002%20-%20Data%20Wrangling%20-%20Academics%20Analysis%20(2)/CS02/mengajar.csv
  !wget -P /content/https://raw.githubusercontent.com/Della-wiyanti/Study-Case02-Kelompok05/main/Case%20Study%2002%20-%20Data%20Wrangling%20-%20Academics%20Analysis%20(2)/CS02/tb_dosen.csv
  !wget -P /content/https://raw.githubusercontent.com/Della-wiyanti/Study-Case02-Kelompok05/main/Case%20Study%2002%20-%20Data%20Wrangling%20-%20Academics%20Analysis%20(2)/CS02/tb_kelas.csv
  !wget -P /content/https://raw.githubusercontent.com/Della-wiyanti/Study-Case02-Kelompok05/main/Case%20Study%2002%20-%20Data%20Wrangling%20-%20Academics%20Analysis%20(2)/CS02/tb_krs.csv
  !wget -P /content/https://raw.githubusercontent.com/Della-wiyanti/Study-Case02-Kelompok05/main/Case%20Study%2002%20-%20Data%20Wrangling%20-%20Academics%20Analysis%20(2)/CS02/tb_mahasiswa.csv
  !wget -P /content/https://raw.githubusercontent.com/Della-wiyanti/Study-Case02-Kelompok05/main/Case%20Study%2002%20-%20Data%20Wrangling%20-%20Academics%20Analysis%20(2)/CS02/tb_mata_kuliah.csv
  !wget -P /content/https://raw.githubusercontent.com/Della-wiyanti/Study-Case02-Kelompok05/main/Case%20Study%2002%20-%20Data%20Wrangling%20-%20Academics%20Analysis%20(2)/CS02/tb_nilai.csv
  mengajar = pd.read_csv('/content/mengajar.csv', encoding='utf8')
  dosen = pd.read_csv('/content/tb_dosen.csv', encoding='utf8')
  kelas = pd.read_csv('/content/tb_kelas.csv', encoding='utf8')
  krs = pd.read_csv('/content/tb_krs.csv', encoding='utf8')
  mahasiswa = pd.read_csv('/content/tb_mahasiswa.csv', encoding='utf8')
  matkul = pd.read_csv('/content/tb_mata_kuliah.csv', encoding='utf8')
  nilai = pd.read_csv('/content/tb_nilai.csv', encoding='utf8')

mengajar.shape, dosen.shape, kelas.shape, krs.shape, mahasiswa.shape, matkul.shape, nilai.shape

((14, 4), (4, 6), (4, 4), (7, 6), (15, 8), (9, 3), (33, 7))

In [4]:
nilai_dosen = nilai.groupby(nilai['NIDN']).mean()[['nilai']]
nilai_dosen = nilai_dosen.rename({'nilai': 'mean_nilai'}, axis=1) 
nilai_dosen = pd.merge(dosen, nilai_dosen, left_on='NIDN', right_index=True)
nilai_dosen = nilai_dosen[['NIDN', 'nama', 'mean_nilai']]
sb = nilai.groupby(nilai['NIDN']).std()[['nilai']]
sb = sb.rename({'nilai': 'std_nilai'}, axis=1) 
nilai_dosen = nilai_dosen.set_index(['NIDN']) 
nilai_dosen = pd.concat([nilai_dosen, sb], axis=1)
nilai_dosen

               nama  mean_nilai  std_nilai
NIDN
123    Andri Basuki   85.750000   7.741355
234        zulfikar   80.428571  15.883504
345   Annisa Fitria   60.090909  16.220077
787            yudi   70.571429  13.010984

Interpretasi 01 : Dari tabel diatas  yang berisi mean nilai dan standar deviasi dapat disimpulkan bahwa dosen yang memberikan nilai lebih tinggi yaitu Bapak Andri Basuki, sedangkan dosen yang memberikan nilai lebih rendah yaitu Ibu Annisa Fitria.

In [6]:
dosen = pd.read_csv('/content/tb_dosen.csv')
dosen = dosen.set_index(['NIDN'])
dosen.drop("nama", axis=1, inplace=True)
dosen.drop("email", axis=1, inplace=True)
dosen = pd.concat([nilai_dosen, dosen], axis=1)
dosen.drop("Telephone", axis=1, inplace=True)
dosen.drop("Jenis_Kelamin", axis=1, inplace=True)
dosen

               nama  mean_nilai  std_nilai Pendidikan_Terakhir
NIDN
123    Andri Basuki   85.750000   7.741355                  S3
234        zulfikar   80.428571  15.883504                  S3
345   Annisa Fitria   60.090909  16.220077                  S2
787            yudi   70.571429  13.010984                  S2

Intepretasi 02 : Dari tabel diatas dapat disimpulkan bahwa ada perbedaan pemberian nilai antara dosen yang berpendidikan terakhir S3 dan S2. Dosen yang berpendidikan terakhir S3 cenderung memberi nilai lebih tinggi dibandingkan dosen yang berpendidikan terakhir S2.

In [ ]:
nilai_mahasiswa = nilai.groupby(mahasiswa['Asal_Sekolah']).mean()[['nilai']]
nilai_mahasiswa = nilai_mahasiswa.rename({'nilai': 'mean_nilai'}, axis=1)
nilai_mahasiswa

              mean_nilai
Asal_Sekolah
MA             76.250000
SMK            89.400000
SMU            71.333333

Intepretasi 03 : Dari tabel diatas dapat disimpulkan terdapat perbedaan performa akademik antara mahasiswa yang berasal dari MA, SMK dan SMU, dimana mahasiswa yang berasal dari SMK memiliki performa yang lebih tinggi daripada mahasiswa yang berasal dari MA dan SMU, dan mahasiswa yang berasal dari SMU memiliki performa yang paling rendah daripada mahasiswa yang berasal dari MA dan SMK.

In [ ]:
perbandingan_mhs = nilai.groupby(mahasiswa['Gender']).mean()[['nilai']]
perbandingan_mhs = perbandingan_mhs.rename({'nilai': 'mean_nilai'}, axis=1)
perbandingan_mhs

        mean_nilai
Gender
Pria     81.222222
Wanita   74.833333

Intepretasi 04 : Dari tabel dapat disimpulkan terdapat perbedaan kemampuan akademik antara mahasiswa dan mahasiswi. Mahasiswa memiliki kemampuan akademik yang lebih tinggi dibandingkan kemampuan mahasiswi.

In [ ]:
nilai_angkatan = nilai.groupby(nilai['Tahun']).mean()[['nilai']]
nilai_angkatan= nilai_angkatan.rename({'nilai': 'mean_nilai'}, axis=1)
nilai_angkatan

       mean_nilai
Tahun
2019    85.750000
2020    72.833333
2021    58.142857

Intepretasi 05 : Dari tabel diatas dapat disimpulkan bahwa terdapat perbedaan akademik antara angkatan mahasiswa, dimana angkatan tahun 2019 memiliki nilai rata-rata tertinggi.